@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 179 85% 33%;
    --primary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 180 100% 98%;
    --accent-foreground: 179 85% 33%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 179 85% 33%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-dot-pattern {
    background-image: radial-gradient(#ffffff 1px, transparent 0);
    background-size: 24px 24px;
    background-position: -12px -12px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(15, 158, 153, 0.1);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 158, 153, 0.2);
  }
}

